
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: aliceblue;    
    
}
.container{
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*{
    color: black;
}
.about{
    font-size: larger;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
    width: 60vw;
    background-color: whitesmoke;
    color: black    ;
    border: solid black 1px;
    border-radius: 20px;
    
}
.coll{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:white ;
    border: solid black 1px;
    border-radius: 20px;
    width: 58vw;
    margin-left: 15px;
}
.inter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: solid black 1px; 
    border-radius: 20px;
    width: 58vw;
    margin-left: 15px;
}
.school{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: solid black 1px;
    border-radius: 20px;
    width: 58vw;
    margin-left: 15px;
}
h3{
    
    color: rgb(50, 136, 211);
    font-family: "Exo 2", sans-serif;
    margin-left: 36px;
}
.coll p,.inter p,.school p{
    margin-left: 20px;
}

